.project-card {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  transition: transform 0.3s;
}

.swipeable-card {
  position: relative;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  cursor: grab;
  transition: box-shadow 0.3s, transform 0.3s;
  user-select: none;
}

.swipeable-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.project-info {
  padding: 16px;
  text-align: left;
}

.liked {
  transform: translateX(200%);
  opacity: 0;
}

.disliked {
  transform: translateX(-200%);
  opacity: 0;
}
