.dumpy-project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
    background-color: #ba5f5f; /* Set a background color for the page */
    border-radius: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .iphone-mockup {
    margin-bottom: 2px;
    flex-direction: column;
    width: 140vh;
  }
  
  .project-details {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .back-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .back-button svg {
    margin-right: 8px;
  }

  .paragraph {
    width: 60vh;
    margin-bottom: 40px;
    padding: 40px;
  }

  @media (max-width: 768px) {
    .iphone-mockup {
      width: 80vw; /* Adjust width to be 80% of viewport width for smaller screens */
      max-width: 320px; /* Limit the maximum width for smaller screens */
    }
  
    .paragraph {
      width: 80vw; /* Adjust width to be 80% of viewport width for smaller screens */
      padding: 20px; /* Adjust padding for smaller screens */
      margin-bottom: 20px; /* Adjust margin for smaller screens */
    }

    .dumpy-project-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      min-height: 100vh; /* Set minimum height to 100% of viewport height */
      background-color: #ba5f5f; /* Set a background color for the page */
      border-radius: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .project-details {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    
  }
  