.mauclo-project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
    background-color: #6491af; /* Set a background color for the page */
    border-radius: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .iphone-mockup {
    margin-bottom: 2px;
    flex-direction: column;
  }
  
  .project-details {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .back-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .back-button svg {
    margin-right: 5px;
  }

  .paragraph {
    width: 60vh;
    margin-bottom: 40px;
  }

  .gobutton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #007bff; /* Blue background color */
    color: white; /* White text color */
    border: 2px solid #0353a862; /* Blue border */
    font-size: 20px; /* Larger font size */
    font-weight: bold; /* Bold text */
    display: flex; /* Align content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    cursor: pointer; /* Show pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }
  
  .gobutton:hover {
    background-color: #0056b3; /* Darker blue on hover */
    border-color: #0056b3; /* Darker blue border on hover */
    color: #fff; /* White text on hover */
  }
  