/* welcome.css */
.welcome-container {
  background:#265073;

}
.welcome {
  padding-top: 35vh;
  color: #F1FADA;
  font-size: 100px;
  font-family: monospace;
  text-shadow: 10px 40px 10px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}

.name {
  padding-top: 2vh;
  font-family: monospace;
  text-shadow: 1px 30px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  align-items: center;
}

.instructions {
  padding-top: 2vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 30px 10px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  align-items: center;
}


.arrow {
  padding-bottom:20vh ;
  font-family: monospace;
  text-shadow: 1px 50px 10px rgba(0, 0, 0, 0.5);
  font-size: 100px;
  align-items: center;
}


