.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(255, 253, 253, 0.2);
    z-index: 1000;
    padding: 30px; /* Increased padding */
    width: 1000px; /* Increased width */
    height: 1000px;
  }
  
  .popup-content {
    text-align: center;
  }
  
