/* skills.css */
.skills-container {
  background-color:  #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 20px;
  border-radius: 100px;
}

.skills-heading {
  font-size: 6rem;
  margin: 0;
  color: #000000;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.skills-categories {
  display: flex;
  gap: 20px; /* Add space between categories */
  align-items: flex-start;
  justify-content: center;
  flex-direction: row; /* Set the flex-direction to row for side-by-side sections */
}

.skills-category  {
  background-color: #0c0c0c;
  padding: 20px;
  border-radius: 40px;
  text-align: center;
  width: 400px;
  padding-top: 10px;
  animation: glow 3s infinite;
  @keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    100% {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    }
  }
}

.skills-category-heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #DA0037;
}

.skills-category p {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 5px 0;
}


@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }
}



