/* aboutme.css */
.about-me {
  background-color: #433434;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh; /* Ensure the background color takes the entire screen height */
  border-radius: 100px;
}

.about-me-p{
  color: #000000;
}

.about-me-h1 {
  font-size: 30;
}

.about-me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000000;

}

.about-me-text {
  /* Adjust the width to match the image width */
  width: 600px; /* Adjust the width as needed */
  padding: 20px;
  text-align: left;
  background-color: #e7e7e7;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  font-weight: 600;
  color: #313131;
  
}

.about-me-image {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 400px;
  height: 400px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 100px;
}
