/* aboutme.css */
.about-me {
  background-color: #433434;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh; /* Ensure the background color takes the entire screen height */
  border-radius: 100px;
}

.about-me-p{
  color:#433434;
  padding: 4;
}

.about-me-h1 {
  font-size: 20;
}

.about-me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000000;

}

.about-me-text {
  /* Adjust the width to match the image width */
  width: 60vh; /* Adjust the width as needed */
  padding: 24px;
  text-align: left;
  background-color: #e7e7e7;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  font-weight: 300;
  color: #313131;
  
}

.about-me-image {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 300px;
  height: 300px;
}

img {
  max-width: 80%;
  height: auto;
  border-radius: 60px;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .about-me-h1 {
    font-size: 16px; /* Reduce font size for smaller screens */
  }

  .about-me-text {
    width: 90vw; /* Adjusted width to be 90% of the viewport width */
    font-size: 0.8rem; /* Make the text smaller */
  }

  .about-me-content {
    flex-direction: column; /* Align items in a column for smaller screens */
  }

  .about-me-image {
    padding: 10px; /* Reduce padding for smaller screens */
    margin-left: 12vw;
    align-items: center; /* Align items in the center horizontally */
    width: 200px;
    height: 200px;
  }
  .about-me {
    background-color: #433434;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    min-height: 100vh; /* Ensure the background color takes the entire screen height */
    border-radius: 30px;
  }
}
