.tech {
    background-color: #020b14;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    height: 100vh;
    margin-top:10px ;
  }
  
  .tech-header h1 {
    margin-top: 10vh;
    font-size: 2.5rem;
    color: #4478ac;
    text-shadow: 10px 10px 20px rgba(194, 235, 252, 0.5);
  }
  
  .tech-categories-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    margin-left: 30vh;
    margin-right: 30vh;
  }
  
  .tech-category {
    flex: 1;
    margin: 0 10px;
    color: #4478ac;
    font-size: 1rem;
  }
  
  .tech-card {
    background-color: #0b2137b7;
    padding: 20px;
    border-radius: 5vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  /* Media query for mobile screens */
@media (max-width: 768px) {
  .tech-header h1 {
    margin-top: 5vh; /* Decrease the top margin of the header for smaller screens */
    font-size: 1rem; /* Decrease the font size of the header for smaller screens */
  }

  .tech-categories-container {
    flex-direction: column; /* Change the direction to column for smaller screens */
    align-items: center; /* Center align items */
    margin: 5vh 0; /* Adjust the margin for smaller screens */
  }

  .tech-category {
    margin: 5px 0; /* Adjust the margin between categories for smaller screens */
  }

  .tech-card {
    padding: 10px; /* Decrease the padding of the card for smaller screens */
    border-radius: 10px; /* Increase the border radius of the card for smaller screens */
  }
}
