/* Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px; /* Adjust the width as needed */
  color: #ffffff !important; /* Text color with !important */
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center-align items vertically */
  font-size: 24px; /* Increase the font size to make labels bigger */
  
}

ul {
  color: #000000 !important; /* Change the text color to black with !important */
  padding: 0;
  list-style: none; /* Remove bullet points from the list */
  margin: 0;
}

li {
  font-style: rgb(0, 0, 0);
  margin-bottom: 50px; /* Adjust the spacing between labels */
  cursor: pointer;
  transition: transform 0.3s; /* Add a smooth animation on hover */
}

li:hover,
li.active {
  transform: scale(1.9) translateX(5px); /* Scale up and displace on the x-axis to the right on hover and for the active page */
  text-shadow: 1px 1px 5px rgb(171, 74, 74); /* Add a faint light shadow for the active link */

}

