.contact {
  background-color: #a3caf8;
  color: #fff;
  padding: 20px;
  border-radius: 100px;
  text-align: center;
  min-height: 100vh;
  padding-bottom: 200px;
}

.contact h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 30vh;
  color: #1b3b60;
  text-shadow: 10px 10px 20px rgba(251, 251, 251, 0.871);
}

.contact p {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 30px;
}

.contact-icons-holder {
  padding-top: 2%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-icons {
  flex: 1;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.contact-icons .icons {
  text-decoration: none;
  color: #a22142;
  font-size: 60px;
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  padding: 15px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.contact-icons .icons:hover {
  background-color: #00dacb;
  color: #fff;
  transform: scale(1.4);
}


/* Media query for mobile screens */
@media (max-width: 768px) {
  .contact h1 {
    font-size: 2rem; /* Decrease the font size of h1 for smaller screens */
    margin-top: 20vh; /* Adjust the top margin of h1 for smaller screens */
  }

  .contact p {
    font-size: 1.2rem; /* Decrease the font size of p for smaller screens */
  }

  .contact-icons-holder {
    flex-direction: column; /* Change the direction to column for smaller screens */
    padding-top: 5%; /* Add more padding to the top for better spacing */
  }

  .contact-icons {
    gap: 10px; /* Decrease the gap between icons for smaller screens */
  }

  .contact-icons .icons {
    font-size: 40px; /* Decrease the font size of icons for smaller screens */
    padding: 10px; /* Decrease the padding of icons for smaller screens */
    width: 60px; /* Decrease the width of icons for smaller screens */
    height: 60px; /* Decrease the height of icons for smaller screens */
  }

  .contact {
    background-color: #a3caf8;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    min-height: 80vh;
    padding-bottom: 200px;
  }
}
