.contact {
  background-color:#a3caf8; /* Use the provided background color */
  color: #fff; /* Set text color to white for better readability */
  padding: 20px;
  border-radius: 10px; /* Add some border radius for a neat look */
  text-align: center;
  padding-bottom: 100px;
  min-height: 100vh; /* Ensure the background color takes the entire screen height */
  padding-bottom: 200px;
  border-radius: 100px;
}

.contact h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  margin-top: 500px;
  color:#1b3b60; 
}

.contact p {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 30px;
}

.contact-icons-holder {
  padding-top: 2%;
  display: flex; /* Remove 'flex-direction: column' */
  align-items: center;
  gap: 40px; /* Add space between the icons horizontally */
}

.contact-icons {
  flex: 1;
  display: flex;
  gap: 30px; /* Add space between the icons horizontally */
  align-items: center;
  justify-content: center; /* Center the icons horizontally */
}


.contact-icons a {
  text-decoration: none;
  color: #a22142;
  font-size: 50px;
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  padding: 12px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.contact-icons a:hover {
  background-color: #DA0037;
  color: #fff;
  transform: scale(1.5);
}
